:root {
    --background-color: #84a4b0;
    --tile-color: #efefef;
}

body {
    background-color: var(--background-color);
}

.gameboard {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    column-gap: 24px;
    row-gap: 20px;
}

.board-tile {
    background-color: #efefef;
    width: 150px;
    height: 150px;
}

.board-tile-marked-cross {
    background-image: url("./assets/cross-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position-x: 48%;
    background-position-y: 52%;
    background-size: 60%;
}

.board-tile-marked-circle {
    background-image: url("./assets/circle-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position-x: 48%;
    background-position-y: 52%;
    background-size: 60%;
}

/*.x-mark {*/
/*    img:*/
/*}*/

